body {
    background-color: black;
    /* display: flex; */
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    color: white;
    align-items: center;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

input {
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */

}